.DS_Store

_bw_db/
_bw_db/bqKey.json
experiments/.snakemake
experiments/outputs/
experiments/sigs/

/target
.direnv/
sandbox/
result
docs/_build
prod.env
mongodb/
**/__pycache__/

# pixi environments
.pixi
.tox

docs/doctree/
docs/out/

*~
__pycache__
.idea
bw_db