<!DOCTYPE html>
<html>
  <head>
    <title>Branchwater Metagenome Query</title>
    <style>
      .image-container img {
        max-height: 50px; /* Adjust the maximum height as per your requirements */
      }
    </style>

    <link
      rel="stylesheet"
      href="https://assets.emblstatic.net/vf/v2.5.7/css/styles.css"
    />

  </head>
  <body class="vf-body vf-stack ebi-black-bar-loaded embl-content-hub-loaded">
  <section class="vf-hero vf-hero--400 | vf-u-fullbleed">
    <div class="vf-hero__content | vf-box | vf-stack vf-stack--400">
      <p class="vf-hero__kicker">
        <a href="https://ebi.ac.uk">EMBL-EBI</a> | MGnify
      </p>
      <h4>
        <a href="/">
          <img src="{{ url_for('static', filename='images/mgnify_logo_reverse.svg') }}" alt="Logo" style="height: 4em;">
        </a>
      </h4>
      <p class="vf-hero__subheading">Branchwater: Real-time search for a genome within metagenomes in the SRA</p>
    </div>
  </section>

  <nav class="vf-navigation vf-navigation--on-this-page | vf-u-fullbleed | vf-cluster">
  <ul class="vf-navigation__list | vf-list | vf-cluster__inner" data-vf-js-navigation-on-this-page-container="false">
    <li class="vf-navigation__item">
      <a href="/" class="vf-navigation__link" aria-selected="false">Home</a>
    </li>
    <li class="vf-navigation__item">
      <a href="/advanced" class="vf-navigation__link" aria-selected="false">Advanced</a>
    </li>
    <li class="vf-navigation__item">
      <a href="/about" class="vf-navigation__link" aria-selected="false">About</a>
    </li>
    <li class="vf-navigation__item">
      <a href="/examples" class="vf-navigation__link" aria-selected="false">Examples</a>
    </li>
    <li class="vf-navigation__item">
      <a href="/contact" class="vf-navigation__link" aria-selected="false">Contact</a>
    </li>
    <li class="vf-navigation__item">
      <a href="https://www.ebi.ac.uk/metagenomics" class="vf-navigation__link" aria-selected="false">MGnify</a>
    </li>
  </ul>
</nav>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const currentPath = window.location.pathname.split('/').pop();
        const navLinks = document.querySelectorAll('.vf-navigation__link');

        navLinks.forEach(link => {
          const linkPath = link.getAttribute('href').split('/').pop();
            link.setAttribute('aria-selected', linkPath === currentPath ? 'true' : 'false');
        });
      });
    </script>

  </body>
</html>